* {
    box-sizing: border-box;
    --background-color: #273c75;
}

body {
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

main {
    z-index: 10;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Blurred Background */
.backgroundSlideContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: 100% auto;
    z-index: -1;
}

.backgroundSlideContainer::after {
    inset: 0;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.254);
    backdrop-filter: blur(2px);
}

/* Default Header styling */
header {
    background-color: rgba(0, 0, 0, 0.312);
    backdrop-filter: blur(6px);
    font-size: 1rem;

    font-style: italic;
    font-weight: 900;
    display: flex;
    border-radius: 5px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-weight: 400;
    color: rgb(241, 241, 241);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.791);
    position: relative;
}

header span {
    margin-left: -18px;
}

header img {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.404));
    width: 70px;
}

/* Home Screen Input styling */
.input-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-sub-container {
    position: relative;
}

.home-screen-input+label:hover {
    cursor: pointer;
}

.home-screen-input {
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    position: relative;
    font-size: 1.4rem;
    outline: none;
    backdrop-filter: blur(6px);
    color: white;
}

.home-screen-input+label {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.2rem;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;

}

.home-screen-input:not(:placeholder-shown)+label {
    color: rgba(255, 255, 255, 0.574);
    left: -70%;
    top: -160%;
    font-size: 1rem;
}

.home-screen-input:focus+label {
    color: rgba(255, 255, 255, 0.574);
    left: -70%;
    top: -160%;
    font-size: 1rem;
}
.home-screen-input:hover, .home-screen-input:focus{
    outline: 1px solid #dcdde1;
}

/* Home Screen info container styling */
.info-container {
    color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.info-container>* {
    width: fit-content;
}

.loading-screen-city-name {
    font-size: 7rem;
    font-weight: 100;
    border-bottom: 2px solid rgb(241, 241, 241);
    ;
}

.loading-screen-city-weather {
    font-size: 2.5rem;
    font-weight: 100;
}

.loading-screen-city-temp {
    font-size: 2.5rem;
    font-weight: 100;
    border-top: 2px solid rgb(241, 241, 241);
    ;
}

.tokyo {
    background-image: url('https://wallpaperaccess.com/full/1685148.jpg');
}

.new-york {
    background-image: url('https://free4kwallpapers.com/uploads/originals/2017/11/05/empire-state-building-new-york-city--wallpaper.jpg');
}

.france {
    background-image: url('https://images.wallpapersden.com/image/download/eiffel-tower-paris-france_ZmtrZW6UmZqaraWkpJRobWllrWdma2U.jpg');
}

.fadeout {
    animation: fade 1000ms ease-in-out;
    z-index: 1;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/* Loader */
.loader {
    z-index: 10;
    color: #dcdde1;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease,
    hueRotate 15s ease-in-out infinite;
}

@keyframes hueRotate {
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
        
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}